* {
    font-family: 'MuseoSans', sans-serif;
}		

.font {
    font-weight: 500;
}

.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 0;
    @media (max-width: 991px) {
        width: 720px;
    }
    @media (max-width: 767px) {
        width: 100%;
    }
}
iframe {
    width: 100%;
    height: 640px;
}
@import 'base/animations';
@import 'base/variables';		
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/title';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/review';
@import 'blocks/footer';
@import 'blocks/modals'; 
@import 'blocks/pageup';


				


		

	

		
		
		
			
	
		


		

		
		
		


	
		

