* {
    font-family: 'MuseoSans', sans-serif;
}		

.font {
    font-weight: 500;
}

.container {
    max-width: 950px;
    margin: 0 auto;
    @media (max-width: 991px) {
        width: 720px;
    }
    @media (max-width: 767px) {
        width: 100%;
    }
}

@import 'base/variables';		
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/title';
@import 'blocks/consultation';
@import 'blocks/forms';

				


		

	

		
		
		
			
	
		


		

		
		
		


	
		

